
.table {
    height: 100%;
}

.my_first_table {
    justify-content: center;
    align-content: center;
    display: grid;
    border-collapse: collapse;
    margin-top: 20px;
    
}

.table th {
    font-size: 20px;
    padding: 10px 62px;
}

.first_caption {
    margin-bottom: 10px;
}

.my_first_table button {
    padding: 16px 42px;
    color: black;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 400px 0px black;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition-duration: 0.5s;
}

.my_first_table button:hover {
    background-color: orange;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px 0px orange;
}

.table > tr, th, td {
    border: 1px solid lightgray;
    padding: 8px 62px;
    
}